{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-6 offset-sm-2">
    <h3 class="text-center">Change Password Done</h3>
    <hr>
    <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    <h3>Password Change Successfully !!</h3>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}